@model IList<Raven.Workshop.Web.Models.Company>

@{
    ViewBag.Title = "Zadanie IV - statyczny indeks";
}

<div class="page-header">
    <h1>Zadanie IV <small>statyczne indeksy i zapytania Lucene</small></h1>
</div>
<p class="lead">
    Celem tego ćwiczenia jest zapoznanie się z pojęciem statycznego indeksu oraz wykonywaniem zapytań Lucene.
</p>

<ol>
    <li>Stworzenie statycznego indeksu, za pomocą którego będziemy mogli wykonać zapytanie o wszystkie firmy, w których istnieje co najmniej jeden pracownik, którego imię zaczyna się na 'J'</li>
    <li>Definicja indeksu: <i>AbstractIndexCreationTask</i></li>
    <li>Załadowanie pomiązanych dokumentów z kolekcji <i>employees/</i> (<i>LoadDocument()</i>)</li>
    <li>Załadowanie indeksu do bazy (<i>DeployIndexes()</i>)</li>
    <li>Wykonanie zapytania Lucene</li>
</ol>

<hr />

<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Nazwa
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || Model.Count == 0)
                {
                    <tr>
                        <td colspan="2">Brak wyników</td>
                    </tr>
                }
                else
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        var employeeWithCompany = Model[i];
                        <tr>
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                @employeeWithCompany.Name
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>