@model List<Raven.Workshop.Web.Indexes.EmployeesByFirstNameCount.Result>

@{
    ViewBag.Title = "Zadanie IV - indeksy typu map-reduce";
}

<div class="page-header">
    <h1>Zadanie IV <small>indeksy typu map-reduce</small></h1>
</div>
<p class="lead">
    Poniższe zadanie zapozna was z indeksami typu map-reduce oraz ich zastosowaniem.
</p>

<ol>
    <li>Stworzenie statycznego indeksu typu map-reduce, który pomoże nam wykonać zapytanie zliczające liczbę pracowników po ich imieniu.</li>
</ol>

<hr />

<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Liczba
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || Model.Count == 0)
                {
                    <tr>
                        <td colspan="3">Brak wyników</td>
                    </tr>
                }
                else
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        var result = Model[i];
                        <tr>
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                @result.EmployeeFirstName
                            </td>
                            <td>
                                @result.Count
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>