@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="span6">
        <div class="well">
            <button type="button" class="btn btn-large btn-block btn-primary">Zadanie I</button>
            <button type="button" class="btn btn-large btn-block">Zadanie II</button>
        </div>
    </div>
    <div class="span6">
        Basic Info here
    </div>
</div>

