@model Raven.Workshop.Web.ViewModels.CompanyViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout.cshtml";
}

<h3>@Model.CompanyName</h3>

<hr/>

<h4>Pracownicy:</h4>

<ul>
    @foreach (var employee in Model.EmployeeFullNames)
    {
        <li>@employee</li>
    }
</ul>
