@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Zadanie 2";
}

<div class="page-header">
    <h1>Zadanie II <small>CRUD</small></h1>
</div>
<p class="lead">
    Podstawowe operacje zapisu, edycji oraz usuwanie obiektów w RavenDB.
</p>

<ol>
    <li>Zapis nowo dodanego pracownika</li>
    <li>Wyświetlenie listy pracowników</li>
    <li>Edycja istniejącego pracownika</li>
    <li>Usunięcie pracownika</li>
</ol>

<hr/>

@RenderBody()
