@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Zadanie 2";
}

<div class="page-header">
    <h1>Zadanie II</h1>
</div>
<p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec sagittis purus. Nulla quis nisi arcu. Nullam lobortis vulputate libero, sit amet dapibus diam porttitor nec. Donec accumsan interdum mauris in malesuada. Cras porttitor interdum ante et ullamcorper. Cras quis tellus lacus. Aliquam non justo iaculis, sagittis arcu eu, ullamcorper lectus. Sed id ligula velit. Ut rutrum felis tortor, eu cursus augue dignissim vel. Donec vitae nunc feugiat, eleifend libero bibendum, dignissim est. Morbi at blandit nibh, posuere faucibus dui. Quisque ullamcorper elementum enim, sed bibendum ante sollicitudin id. Aenean id dolor id risus ultrices tincidunt.
</p>
<hr/>

@RenderBody()
